.active{

  font-size: 25px;
}

.active a{
  color: red;
}

.buttons{
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.buttons span:hover{
  cursor: pointer;
}

.disabled{
  visibility: hidden;
}
